# first list the packages you wish to download from PyPI
teachbooks # depends on jupyter-book

sphinx-tudelft-theme
git+https://github.com/TeachBooks/TeachBooks-Favourites

#testing for dennis
git+https://github.com/TeachBooks/Sphinx-NB-Execution-Patterns

# jupyterbook-patches
ipywidgets
matplotlib
jupyter-book
#ipykernel<5.5.0
pathlib
nbconvert<6.0.0
# plotly
scipy
jupytext
python-markdown-math
mkdocs-material<5
ics
notedown
qutip
ipython
plotly
jupyter-sphinx
jupyterlab-widgets
jupyterlab-plotly

# # docutils version for reference page formatting
# docutils==0.17.1

# # now list the packages (and the respective url) you wish to download from the GitLab package registry
# --extra-index-url https://gitlab.tudelft.nl/api/v4/projects/11239/packages/pypi/simple
# sphinx-thebe ~= 0.9.9  #temporarily disable


# # lastly any packages you wish to download directly from a Git repository
# download_link_replacer @ git+https://gitlab.tudelft.nl/mude/sphinx-download-link-replacer
# sphinx-exercise ~= 0.4.1  #temporarily disable
