jupyter-book
qutip
numpy
scipy
plotly
matplotlib
ipython
pathlib
jupytext
notedown

git+https://github.com/TeachBooks/TeachBooks-Favourites
git+https://github.com/TeachBooks/Sphinx-NB-Execution-Patterns

ipywidgets
jupyterlab-widgets
jupyter-sphinx
ipython-genutils

sphinx-tudelft-theme
python-markdown-math
mkdocs-material<5

Jinja2<3.1
nbconvert<6.0.0

# # docutils version for reference page formatting
# docutils==0.17.1

# # now list the packages (and the respective url) you wish to download from the GitLab package registry
# --extra-index-url https://gitlab.tudelft.nl/api/v4/projects/11239/packages/pypi/simple
# sphinx-thebe ~= 0.9.9  #temporarily disable


# # lastly any packages you wish to download directly from a Git repository
# download_link_replacer @ git+https://gitlab.tudelft.nl/mude/sphinx-download-link-replacer
# sphinx-exercise ~= 0.4.1  #temporarily disable
